.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: lightgrey solid 1px;
    border-radius: 1rem;

    background-color: rgba(153, 254, 249, 0.168);
}

.margin_none{
    margin: 0;
    font-size: 1.5rem;
}

.inside_temp__wrapper{
    border: lightgrey solid .2rem;
    border-radius: 8px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.light_background{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;
    width: 40%;
    height: 70%;
    text-align: center;
    border: black solid 1px;
}




@media (max-width: 800px) {
    .wrapper{
        width: 90%;
        min-width: 250px;
        background-color: rgba(211, 211, 211, 0.349);
    }

    .margin_none{
        font-size: 1rem; /* Adjust the size as needed */
        font-weight: bold; 
    }
}